﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Kitap";
}
@model  List<Mvc_Kutuphane.Models.tbl_kitap>
@section stil {

    @*<link href="~/assets/plugins/tables/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <!-- Font Awesome -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">*@
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link href="~/assets/plugins/tables/dataTables.bootstrap.css" rel="stylesheet" />
}
@using (Html.BeginForm())
{
    <section class="content col-xs-12">
        <div class="row">
            <div class="pull-left col-xs-2"></div>
            <div class="widget pull-left col-xs-2">
                <div class="container">
                    <span>Ad</span>
                </div>
                <div class="col-xs-7">
                    @{if (Request.HttpMethod == "POST" &&  string.IsNullOrEmpty(ViewBag.kitap))
                        {
                            @Html.TextBox("kitap", new { value = ViewBag.kitap })
                        }
                        else
                        {
                            @Html.TextBox("kitap")
                        }
                    }

                </div>
            </div>
            <div class="widget pull-left col-xs-2">
                <div class=" container">
                    <span>Tur Adı:</span>
                </div>
                <div>
                    @{if (Request.HttpMethod == "POST" && string.IsNullOrEmpty(ViewBag.tur))
                        {
                            @Html.TextBox("tur", new {  value = ViewBag.tur })
                        }
                        else
                        {
                            @Html.TextBox("tur")
                        }
                    }
                </div>
            </div>
            <div class="widget pull-left col-xs-2">
                <div class=" container">
                    <span>Yazar Adı:</span>
                </div>
                <div>
                    @{if (Request.HttpMethod == "POST" && string.IsNullOrEmpty(ViewBag.yazar))
                        {
                            @Html.TextBox("yazar", new { value = ViewBag.yazar })
                        }
                        else
                        {
                            @Html.TextBox("yazar")
                        }
                    }
                </div>
            </div>
            <div class="widget pull-left col-xs-2">
                <div class="container">
                    <span>Yayınevi Adı:</span>
                </div>
                <div>
                    @{if (Request.HttpMethod == "POST" && string.IsNullOrEmpty(ViewBag.yayinevi))
                        {
                            @Html.TextBox("yayinevi", new { value = ViewBag.yayinevi })
                        }
                        else
                        {
                            @Html.TextBox("yayinevi")
                        }
                    }
                </div>
            </div>
            <div class="pull-left col-xs-2">
                <div class="widget  pull-left col-xs-4">
                    <button class="btn btn-block btn-custom"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"><br /></h3>
                        <h3 class="box-title">Kitaplar</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>sira</th>
                                    <th>Resim</th>
                                    <th>Kitap Adı</th>
                                    <th>Kitap Tür</th>
                                    <th>Yazar Adı</th>
                                    <th>Yayın Evi</th>
                                    <th>Kayıt Yılı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int sira = 0;}
                                @foreach (var item in Model)
                                {
                                    sira++;

                                    <tr onmouseover="this.style.cursor = 'hand';" onmouseout="this.style.background = ''; this.style.cursor = '';">
                                        <td>@sira</td>
                                        <td>
                                            <a href='@Url.Action("KitapDetay", "Home", new { ID = item.ID })'>  <img src='@item.resimUrl' style="float:left; width:150px;height:150px;" />    </a>
                                        </td>
                                        <td><a href='@Url.Action("KitapDetay", "Home", new { ID = item.ID })'> @item.ad</a></td>
                                        <td><a href='@Url.Action("KitapDetay", "Home", new { ID = item.ID })'> @item.kitapTur.ad</a></td>
                                        <td><a href='@Url.Action("KitapDetay", "Home", new { ID = item.ID })'>  @item.yazar.ad</a></td>
                                        <td> <a href='@Url.Action("KitapDetay", "Home", new { ID = item.ID })'> @item.yayinEvi.ad</a></td>
                                        <td> <a href='@Url.Action("KitapDetay", "Home", new { ID = item.ID })'> @item.kayitTarihi</a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>sira</th>
                                    <th>Resim</th>
                                    <th>Kitap Adı</th>
                                    <th>Kitap Tür</th>
                                    <th>Yazar Adı</th>
                                    <th>Yayın Evi</th>
                                    <th>Kayıt Yılı</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section>
                                    }
@section script{
    @*<!-- jQuery 2.1.4 -->
        <script src="~/assets/plugins/tables/jQuery/jQuery-2.1.4.min.js"></script>
        <!-- Bootstrap 3.3.5 -->
        <script src="~/assets/plugins/tables/bootstrap/js/bootstrap.min.js"></script>
        <!-- DataTables -->*@
    <script src="~/assets/plugins/tables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/tables/dataTables.bootstrap.min.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable();
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
}
