﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HATA";
}

<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <h1>Opps....</h1>
                    </div>
                    <div class="col-sm-12">
                        <h2>@ViewBag.Mesaj</h2>
                        @if (ViewBag.link != null)
                        {
                            <p>Geldiginiz sayfaya <a href="@ViewBag.link"> geri dön </a></p>
                        }
                    </div>
                    <div style="clear:both;"></div>
                </div>
               
            </div>
        </div>
    </div>
</section>

